@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;500;700&display=swap');


body {
  font-family: 'Kanit', sans-serif;
  background-color: rgb(105, 168, 231);

}

.counter {
  margin-left: 35%;
  margin-right: 35%;
  position: relative;
  margin-top: 100px;
  background-color: rgb(255, 255, 255);
  width: 30%;
  height: 400px;
  text-align: center;
  padding-top: 60px;
  border-radius: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
h2 {
  font-size: 30px;
  color: rgb(85, 85, 85);
}

h1 {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
}

button {
  margin: 10px 10px 10px 10px;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

button:active {
  transform: translateY(2px);
}

.minus {
  background-color: rgb(235, 84, 84);
}

.minus:hover {
  background-color: rgb(196, 27, 27);
  color: rgb(255, 255, 255);
}


.plus {
  background-color: rgb(71, 234, 101);
}

.plus:hover {
  background-color: rgb(26, 186, 55);
  color: rgb(255, 255, 255);
}

.mult {
  background-color: rgb(106, 71, 234);
}

.mult:hover {
  background-color: rgb(67, 35, 181);;
  color: rgb(255, 255, 255);
}

.reduce {
  background-color: rgb(234, 169, 71);
}

.reduce:hover {
  background-color: rgb(207, 137, 32);
  color: rgb(255, 255, 255);
}

.openmodal {
  position: absolute;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 300px;
  height: 40px;
  width: 20%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: aliceblue;
}

.close {
  color: rgb(170, 47, 47);
  box-shadow: none;
  background-color: rgb(255, 255, 255);
  width: 50px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
}

@media (max-width: 555px) {

  .counter {
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    margin-top: 100px;
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 400px;
    text-align: center;
    padding-top: 60px;
    border-radius: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  }

  .openmodal {
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 300px;
    height: 40px;
    width: 50%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: aliceblue;
  }
}